/*! Stats Section*/
/* Stats Section */
#stats {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
  margin: 0 0;
  padding: 50px 30px;
}

.stat-box {
  background-color: #fff;
  color: black;
  padding: 3px 3px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  margin: 0 25px;
}

.stat-number {
  font-size: 45px;
  font-weight: bold;
  color: #3a58a4;
}

.stat-title {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

/*= Mobil - Responsive Design for Highlights Section (max 576px) */
/* Stats Section */
@media (max-width: 576px) {
  #stats {
    flex-direction: column; /* İstatistik kutularını dikey yerleştir */
    align-items: center; /* Ortala */
  }
  .stat-box {
    margin: 10px 0; /* Üst ve alt boşluk ekle */
    width: 70%; /* Kutuların genişliğini artır */
    padding: -25px 15px;
  }
}
